<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/nav.ejs') %>

  <h1>Tasks:</h1>
  <ul>
    <% if(tasks.length) { %>
    <% tasks.forEach(({id:title,text})  => { %>
    <li>
      <article>
        <h2>
          <a href="/tasks/<%=id%>"></a>
        </h2>
        <p><%=text%></p>
        <div class="info">
          <span><%=date%></span>
        </div>
      </article>
    </li>
<%})%>
    <%}%>
  </ul>
</body>
</html>
